@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Open+Sans&display=swap');

body{
    padding: 1rem;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}